:root {
    --primaryBackgroundColor: 
        radial-gradient(circle at 80% 40%, rgba(148, 181, 209, 0.441) 20%, transparent 40%), 
        radial-gradient(circle at 60% 10%, rgba(255, 255, 255, 0.15) 15%, transparent 30%), 
        rgb(18, 23, 28); /* Fallback solid color */

        --primaryBackgroundColor2: 
        radial-gradient(circle at 80% 60%, rgba(146, 173, 195, 0.441) 10%, transparent 40%), 
        radial-gradient(circle at 60% 8%, rgba(255, 255, 255, 0.15) 5%, transparent 30%), 
        rgb(18, 23, 28); /* Fallback solid color */

    --secondaryBackgroundColor: linear-gradient(135deg, rgb(13, 16, 20) 10%, rgb(22, 27, 33) 50%, #313538 90%);
    --secondaryBackgroundColor2: linear-gradient(135deg, rgb(14, 18, 22)10%, rgb(17, 22, 27) 50%, rgb(19, 27, 36) 90%);
    
    --primaryForegroundColor: #568ea4;
    --primaryTextColor: white;
    --secondaryTextColor: white;
    --buttonColor: #adb13f;
}


html {
    scroll-behavior: smooth;
}



body {
    font-family: 'PT Sans', sans-serif;
    color: white;
    font-size: larger;
    background-color: var(--primaryBackgroundColor);
}

#main {
    background: var(--primaryBackgroundColor);
    height: min-content;
    text-align: center;
    padding: 0% 5%;
}

.mainhead {
    font-weight: 600;
}

.caption {
    padding-top: 10px;
    font: 400;
    font-size: large;
    color: var(--secondaryTextColor);
}

.navbar {
    padding-top: 10px 0; /* Increase height */
    padding-left: 1%;
    padding-right: 1%;
    transition: all 0.3s ease-in-out;
    z-index: 1050;
}

.navbar-dark {
    background: var(--secondaryBackgroundColor2); /* Ensuring consistency */
}
.navbar-logo {
    height: 110px;   
    width: auto;    
    position: absolute;
     top: -1em;
    left: 7px;    
}

.nav-link {
    font-size: large;
    margin-left: 5%;
    margin-right: 5%;
}

.bg_div {
    background-color: rgba(41, 49, 54, 0.911); /* Slight transparency */
    padding: 40px;
    border-radius: 15px;
    width: fit-content;
    text-align: start;
    backdrop-filter: blur(8px); /* Soft blur effect */
    box-shadow: 0 6px 10px rgba(35, 140, 181, 0.935); /* Shadow for contrast */
}

button {
    background-color: var(--buttonColor);
    padding: 2% 3%;
    border: none;
    color: white;
    border-radius: 10px;
}

#main .row {
    padding: 20px;
    margin: 0%;
    height: 100%;
}

#main .col {
    display: flex;
}

#about {
    background: var(--secondaryBackgroundColor);
    height: fit-content;
    padding: 5% 6% 8%;
    text-align: center;
}

#about .col {
    text-align: center;
    display: block;
    margin-bottom: 5%;
}

#download {
    background: var(--primaryBackgroundColor2);
    height: fit-content;
    padding: 6% 5% 2%;
    text-align: center;
}

footer {
    background: var(--secondaryBackgroundColor2); 
    padding: 1% 5% 1% 5%;
    text-align: center;
}
.footer-logo {
    height: 200px;
    width: auto;
    left: 30px;
    display: block;
    margin: 0 auto; 
}

footer a {
    text-decoration: none;
    display: block;
    margin: 1% 0;
    color: var(--secondaryTextColor);
}

footer a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.colfoot-2 {
    text-align: right;
    padding-left: 5%;
    padding-right: 2%;
}

/* Privacy-Page */
.privacy-page-body {
    background: var(--secondaryBackgroundColor);
    height: 90vh;
}

.download-container {
    padding: 20px;  
    display: flex;
    justify-content: center;
}
