:root {
    --primaryBackgroundColor: 
        radial-gradient(circle at 70% 40%, rgba(254, 255, 255, 0.441) 20%, transparent 50%), 
        radial-gradient(circle at 30% 40%, rgba(255, 255, 255, 0.15) 15%, transparent 40%), 
        #2b2b2b; /* Fallback solid color */

    --secondaryBackgroundColor: linear-gradient(135deg, #2b2b2b 10%, #3a3a3a 50%, #545454 90%);
    
    --primaryForegroundColor: #568ea4;
    --primaryTextColor: white;
    --secondaryTextColor: white;
    --buttonColor: #EB1555;
}


html {
    scroll-behavior: smooth;
}



body {
    font-family: 'PT Sans', sans-serif;
    color: white;
    font-size: larger;
    background-color: var(--primaryBackgroundColor);
}

#main {
    background: var(--primaryBackgroundColor);
    height: min-content;
    text-align: center;
    padding: 0% 5%;
}

.mainhead {
    font-weight: 600;
}

.caption {
    font: 400;
    font-size: large;
    color: var(--secondaryTextColor);
}

.navbar {
    padding: 0;
    padding-left: 1%;
    padding-right: 1%;
}

.navbar-dark {
    background: var(--secondaryBackgroundColor); /* Ensuring consistency */
}

.nav-link {
    font-size: large;
    margin-left: 5%;
    margin-right: 5%;
}

.bg_div {
    background-color: rgba(86, 142, 164, 0.8); /* Slight transparency */
    padding: 5%;
    border-radius: 15px;
    width: fit-content;
    text-align: start;
    backdrop-filter: blur(8px); /* Soft blur effect */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Shadow for contrast */
}

button {
    background-color: var(--buttonColor);
    padding: 2% 3%;
    border: none;
    color: white;
    border-radius: 10px;
}

#main .row {
    padding: 0;
    margin: 0%;
    height: 100%;
}

#main .col {
    display: flex;
}

#about {
    background: var(--secondaryBackgroundColor);
    height: fit-content;
    padding: 14% 6% 2%;
    text-align: center;
}

#about .col {
    text-align: center;
    display: block;
    margin-bottom: 5%;
}

#download {
    background: var(--primaryBackgroundColor);
    height: fit-content;
    padding: 6% 5% 2%;
    text-align: center;
}

footer {
    background: var(--secondaryBackgroundColor); /* Consistent with navbar */
    padding: 1% 5% 1% 5%;
    text-align: center;
}

footer a {
    text-decoration: none;
    display: block;
    margin: 1% 0;
    color: var(--secondaryTextColor);
}

footer a:hover {
    text-decoration: none;
    color: white;
}

.colfoot-2 {
    text-align: right;
    padding-left: 5%;
    padding-right: 2%;
}

/* Privacy-Page */
.privacy-page-body {
    background: var(--secondaryBackgroundColor);
    height: 90vh;
}
